<h1><%= @art.id ? "Edit Artist" : "Create New Artist" %></h1>
<hr />
<%= form_with( model: @art, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :artist_name %>
    <%= f.text_field :artist_name, required: true, placeholder: @art.artist_name, autofocus: true %>
    <%= f.submit class: "ui green button" %>
  </div>
<% end %>

<%= link_to 'Back', artists_path, class: "ui blue button" %>