<h1 class="ui header">Artists</h1>
<h3>Which artist would you like to browse?</h3>
<ol>
<% @arts.each do |artist| %>
<li><%= artist.artist_name %></li>
<%= link_to 'Edit Artist', edit_artist_path(artist), class: "ui blue button" %>
<%= link_to 'View Artist\'s Songs', artist_path(artist), class: "ui green button"  %>
<%= link_to 'Delete Artist', artist_path(artist), method: :delete, class: "ui red button"  %>
<% end %>
</ol>

<%= link_to 'Create New Artsit', new_artist_path, class: "ui blue button" %>